{% extends 'base.html' %}  

{% set active_page = 'profile' %}
{% block title %}{{ user.username }} - Stachums{% endblock %}
{% block main %}

<div class="postData clearfix">
  <div class="userInfo">
  <div class="sep"><img class="profilePicture" src="{{ url_for('static', filename='imgs/user/'+user.profile_pic) }}" alt="Profile Picture"></div>
  <div class="sep"><p class="red name">@{{ user.username }}</p><p class="rank">Rank: [{{ user.role }}]</p></div>
  <div class="sep date"><time>Joined {{ user.registered_on.strftime('%Y-%m-%d') }}</time></div>
  <div class="sep"><p class="description">{{ user.posts|length + user.comments|length }} posts</p><p class="description">{{ user.followers.all()|length }} followers</p><p class="description">{{ daysBetween(user.last_active) }}</p></div>
    {% if current_user.is_authenticated and current_user != user %}
    <form action="#" method="post">
      {{ follow_form.csrf_token }}
      {{ follow_form.submit.label(class='description', text=('unfollow' if current_user.isfollowing(user) else 'follow') ) }}{{ follow_form.submit(class='hidden') }}
    </form>
    {% endif %}
  </div>

  <div class="message">
    <h4>About:</h4>
    <article><p>{{ user.description }}</p></article>

    <section>
    {% for post in posts[::-1][:5] %}
    <hr>
    <div class="message">
      <h3><strong>{{ post.title }}</strong></h3>
      <article>{% filter markdown %}{{ post.content|safe|truncate(150) }}{% endfilter %}</article>
      <time class="ptime">{{ post.created_on.strftime('%Y-%m-%d @ %H:%M') }}</time>
      <p><a href="{{ url_for('thread', id=post.uuid) }}">See full thread</a> ({{ post.replies|length }})</p>
    </div>
{% endfor %}
      </section>
  </div>
</div>
      
{% endblock main %}